<!DOCTYPE html>
<html lang="ro">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="../css/style.css"></link>

  <title>Document</title>
</head>

<body>
  <header>
    <details>
      <summary></summary>
      <nav class="menu">
        <a href="/">Acasă</a>
        <a href="chestionar">Chestionar</a>
        <a href="autentificare">Autentificare</a>
        <a href="vizualizare-cos">Coș de cumpărături</a>
      </nav>
    </details>
  </header>
  <img src="../images/logo.png" class="logo">
  <main>
    <%- body %>
  </main>

  <footer>
    &copy;2022 The Underground Celery
  </footer>
</body>

</html>